[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "chtools"
version = "1.0.0"
description = "A set of tools for administration and diagnostics of ClickHouse DBMS."
license = { file = "LICENSE" }

authors = [
    {name = "Alexander Burmak", email = "alex-burmak@yandex-team.ru"},
    {name = "Dmitry Starov", email="dstaroff@yandex-team.ru"},
    {name = "Anton Ivashkin", email="iantonspb@yandex-team.ru"},
    {name = "Grigory Pervakov", email="pervakovg@yandex-team.ru"},
    {name = "Petr Nuzhnov", email="petrnuzhnov@yandex-team.ru"},
    {name = "Egor Medvedev", email="egor-medvedev@yandex-team.ru"},
    {name = "Aleksei Filatov", email="alexfvk@yandex-team.ru"},
    {name = "Evgeny Dyukov", email="secwall@yandex-team.ru"},
    {name = "Evgeny Strizhnev", email="estrizhnev@yandex-team.ru"},
    {name = "Vadim Volodin", email="vadim-volodin@yandex-team.ru"},
    {name = "Anton Chaporgin", email="chapson@yandex-team.ru"},
    {name = "Evgenii Kopanev", email="ekopanev@yandex-team.ru"},
    {name = "Mikhail Kot", email="myrrc@yandex-team.ru"},
]

maintainers = [
    {name = "Alexander Burmak", email = "alex-burmak@yandex-team.ru"},
    {name = "Dmitry Starov", email="dstaroff@yandex-team.ru"},
    {name = "Anton Ivashkin", email="iantonspb@yandex-team.ru"},
    {name = "Grigory Pervakov", email="pervakovg@yandex-team.ru"},
    {name = "Petr Nuzhnov", email="petrnuzhnov@yandex-team.ru"},
    {name = "Egor Medvedev", email="egor-medvedev@yandex-team.ru"},
    {name = "Aleksei Filatov", email="alexfvk@yandex-team.ru"},
    {name = "Evgenii Kopanev", email="ekopanev@yandex-team.ru"},
    {name = "Mikhail Kot", email="myrrc@yandex-team.ru"},
]

readme = "README.md"

keywords=[
    "clickhouse",
    "database",
    "monitoring",
    "diagnostics",
    "administration",
]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: BSD",
    "Operating System :: POSIX :: Linux",
    "Operating System :: Unix",
    "Topic :: Database",
    "Typing :: Typed",
]

requires-python = ">=3.6.2"

dependencies = [
    "boto3",
    "click",
    "cloup",
    "deepdiff",
    "dnspython",
    "file_read_backwards",
    "humanfriendly",
    "jinja2",
    "kazoo",
    "lxml",
    "psutil",
    "pygments",
    "pyopenssl",
    "python-dateutil",
    "pyyaml",
    "requests",
    "tabulate",
    "tenacity",
    "termcolor",
    "tqdm",
    "xmltodict"
]

[project.urls]
Source = "https://github.com/yandex/ch-tools"

[project.optional-dependencies]
test = [
    "black",
    "isort",
#pylint = "^2.13"
#mypy = "^0.971"
#types-pyyaml = "*"
#types-requests = "*"
#bandit = "*"
    "behave",
    "docker",
    "docker-compose",
    "pyhamcrest",
    "pytest"
]

[project.scripts]
chadmin = "chtools.chadmin.chadmin_cli:main"
ch-monitoring = "chtools.monrun_checks.main:main"
keeper-monitoring = "chtools.monrun_checks_keeper.main:main"
ch-s3-credentials = "chtools.s3_credentials.main:main"

[tool.isort]
profile = "black"
