[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "ch-tools"
version = "2.529.131159744"
license = "MIT"
description = "ch-tools is a set of tools for administration and diagnostics of ClickHouse DBMS."

authors = [
    "Alexander Burmak <alex-burmak@yandex-team.ru>",
    "Dmitry Starov <dstaroff@yandex-team.ru>",
    "Anton Ivashkin <iantonspb@yandex-team.ru>",
    "Grigory Pervakov <pervakovg@yandex-team.ru>",
    "Petr Nuzhnov <petrnuzhnov@yandex-team.ru>",
    "Egor Medvedev <egor-medvedev@yandex-team.ru>",
    "Aleksei Filatov <alexfvk@yandex-team.ru>",
    "Evgeny Dyukov <secwall@yandex-team.ru>",
    "Evgeny Strizhnev <estrizhnev@yandex-team.ru>",
    "Vadim Volodin <vadim-volodin@yandex-team.ru>",
    "Anton Chaporgin <chapson@yandex-team.ru>",
    "Evgenii Kopanev <ekopanev@yandex-team.ru>",
    "Mikhail Kot <myrrc@yandex-team.ru>",
]

maintainers = [
    "Alexander Burmak <alex-burmak@yandex-team.ru>",
    "Dmitry Starov <dstaroff@yandex-team.ru>",
    "Anton Ivashkin <iantonspb@yandex-team.ru>",
    "Grigory Pervakov <pervakovg@yandex-team.ru>",
    "Petr Nuzhnov <petrnuzhnov@yandex-team.ru>",
    "Egor Medvedev <egor-medvedev@yandex-team.ru>",
    "Aleksei Filatov <alexfvk@yandex-team.ru>",
    "Evgenii Kopanev <ekopanev@yandex-team.ru>",
    "Mikhail Kot <myrrc@yandex-team.ru>",
]

readme = "README.md"
homepage = "https://github.com/yandex/ch-tools"
repository = "https://github.com/yandex/ch-tools"

keywords=[
    "clickhouse",
    "database",
    "monitoring",
    "diagnostics",
    "administration",
]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: MIT License",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: BSD",
    "Operating System :: POSIX :: Linux",
    "Operating System :: Unix",
    "Environment :: Console",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Database",
    "Typing :: Typed",
]

include = ["resources/"]


[tool.poetry.dependencies]
python = "^3.6.2"

boto3 = "~1.23.10"
click = "~8.0.4"
cloup = "*"
deepdiff = "*"
dnspython = "*"
file_read_backwards = "*"
humanfriendly = "*"
jinja2 = "*"
kazoo = "*"
lxml = "*"
psutil = "*"
pygments = "*"
pyopenssl = "*"
python-dateutil = "*"
pyyaml = "<5.4"
requests = "*"
tabulate = "*"
tenacity = "*"
termcolor = "*"
tqdm = "*"
typing-extensions = "~4.1.1"
xmltodict = "*"

[tool.poetry.dev-dependencies]
behave = "*"
black = { version = "^22.0.0", python = ">=3.10" }
docker = "*"
docker-compose = "*"
flake8 = { version = "^6.1.0", python = ">=3.10" }
isort = { version = "^5.0.0", extras = ["pyproject"] }
mypy = { version = "^1.4.1", python = ">=3.10" }
pyhamcrest = "*"
pylint = { version = "^2.17.5", python = ">=3.10" }
pytest = "*"
types-pyOpenSSL = "*"
types-python-dateutil = "*"
types-pyyaml = "*"
types-requests = "*"
types-setuptools = "*"
types-tabulate = "*"

[tool.poetry.scripts]
chadmin = "ch_tools.chadmin.chadmin_cli:main"
ch-monitoring = "ch_tools.monrun_checks.main:main"
keeper-monitoring = "ch_tools.monrun_checks_keeper.main:main"
ch-s3-credentials = "ch_tools.s3_credentials.main:main"

[tool.isort]
profile = "black"

[tool.mypy]
ignore_missing_imports = true
disallow_incomplete_defs = true
check_untyped_defs = true
exclude = ['tests/staging']

