behave >= 1.2.0
black >= 22.8.0
docker >= 5.0.0
docker-compose >= 1.29.0
flake8 >= 5.0.0
flake8-commas >= 2.1.0
flake8-print >= 4.0.0
flake8-quotes >= 3.3.0
flake8-string-format >= 0.3.0
isort >= 5.10.0
mypy >= 0.971
pep8 >= 1.7.0
PyHamcrest >= 2.0.0
pylint >= 2.13.0
pytest >= 7.0.0
