Jinja2 >= 3.0.0
PyYAML >= 5.4.0, < 6
Pygments >= 2.14.0
boto3 >= 1.23.0
click >= 8.0.0
cloup >= 0.15.0
deepdiff >= 5.7.0
dnspython >= 2.2.0
humanfriendly >= 10.0
kazoo >= 2.9
lxml >= 4.9.0
psutil >= 5.9.0
pyOpenSSL >= 23.2.0
python-dateutil >= 2.8.0
requests >= 2.27.0
setuptools >= 59.6.0
tabulate >= 0.8.0
tenacity >= 8.2.0
termcolor >= 1.1.0
tqdm >= 4.64.0
xmltodict >= 0.13.0
file_read_backwards>=3.0.0
