<clickhouse>
    <logger>
        <console>1</console>
    </logger>

    <listen_host>0.0.0.0</listen_host>
    <https_port>8443</https_port>
    <tcp_ssl_port>9440</tcp_ssl_port>

    <openSSL>
        <server>
            <certificateFile>/etc/clickhouse-server/ssl/server.crt</certificateFile>
            <privateKeyFile>/etc/clickhouse-server/ssl/server.key</privateKeyFile>
            <dhParamsFile></dhParamsFile>
            <verificationMode>none</verificationMode>
            <loadDefaultCAFile>true</loadDefaultCAFile>
            <cacheSessions>true</cacheSessions>
            <disableProtocols>sslv2,sslv3</disableProtocols>
            <preferServerCiphers>true</preferServerCiphers>
        </server>
    </openSSL>

    <remote_servers>
        <cluster>
            <shard>
                <internal_replication>true</internal_replication>
{% for instance in conf.services.clickhouse.instances %}
                <replica>
                    <host>{{ instance }}</host>
                    <port>9000</port>
                </replica>
{% endfor %}
            </shard>
        </cluster>
    </remote_servers>

    <zookeeper>
         <node index="1">
            <host>zookeeper01</host>
            <port>2181</port>
         </node>
         <session_timeout_ms>3000</session_timeout_ms>
    </zookeeper>

    <storage_configuration>
        <disks>
            <default />
            <object_storage>
                <type>s3</type>
                <endpoint>{{ conf.s3.endpoint }}/{{ conf.s3.bucket }}/data/cluster_id/shard_1/</endpoint>
                <access_key_id>{{ conf.s3.access_key_id }}</access_key_id>
                <secret_access_key>{{ conf.s3.access_secret_key }}</secret_access_key>
            </object_storage>
        </disks>
        <policies>
            <default>
                <volumes>
                    <default>
                        <disk>default</disk>
                    </default>
                </volumes>
            </default>
            <object_storage>
                <volumes>
                    <object_storage>
                        <disk>object_storage</disk>
                    </object_storage>
                </volumes>
            </object_storage>
            <hybrid_storage>
                <volumes>
                    <default>
                        <disk>default</disk>
                    </default>
                    <object_storage>
                        <disk>object_storage</disk>
                    </object_storage>
                </volumes>
            </hybrid_storage>
        </policies>
    </storage_configuration>

    <keeper_server>
        <tcp_port_secure>2281</tcp_port_secure>
        <server_id>1</server_id>
        <log_storage_path>/var/lib/clickhouse/coordination/log</log_storage_path>
        <snapshot_storage_path>/var/lib/clickhouse/coordination/snapshots</snapshot_storage_path>
        <coordination_settings>
            <operation_timeout_ms>5000</operation_timeout_ms>
            <raft_logs_level>trace</raft_logs_level>
            <session_timeout_ms>10000</session_timeout_ms>
        </coordination_settings>
        <raft_configuration>
            <server>
                <hostname>127.0.0.1</hostname>
                <id>1</id>
                <port>2888</port>
            </server>
        </raft_configuration>
    </keeper_server>

    <macros>
        <replica>{{ instance_name }}.{{ conf.network_name }}</replica>
        <cluster>cluster</cluster>
        <shard>shard1</shard>
    </macros>

    <enable_system_unfreeze>1</enable_system_unfreeze>
</clickhouse>
