name: test_clickhouse_version

run-name: ${{ github.workflow }}_${{ inputs.clickhouse_version }}_${{ inputs.id || github.run_number }}

on:
  workflow_dispatch:
    inputs:
      clickhouse_version:
        description: 'ClickHouse version'
        required: true
        type: string
      id:
        description: 'Run identifier'
        required: false
        type: string
        default: ""

jobs:
  test_integration:
    runs-on: ubuntu-latest
    env:
      CLICKHOUSE_VERSION: ${{ inputs.clickhouse_version }}
      CLICKHOUSE_VERSIONS: ${{ inputs.clickhouse_version }}
    steps:
      - uses: actions/checkout@v4
      - name: build necessary images
        uses: docker/bake-action@v5
        with:
          files: tests/bake.hcl
          push: false
      - uses: astral-sh/setup-uv@v5
      - name: run integration tests
        run:  make test-integration
